/* цвет заголовков #212121 */
/* альтернативный цвет заголовков #FFFFFF */
/* цвет текста  #757575*/
/* белый #FFFFFF*/
/* акцент  #2196F3*/
/* основной цвет фона  #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет фона подвала #2F303A */
/* цвет ссылок соцсетей #AFB1B8 */
/* цвет кнопки #2196F3 */

:root {
  --title-color: #212121;
  --title-text-color: #212121;
  --primaty-text-color: #757575;
  --primaty-link-color: #212121;
  --secondary-link-color: #2196f3;
  --secondary-title-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --bg-secondary-title: rgba(47, 48, 58, 0.8);
  --bg-button-color: #2196f3;
  --hero-bgc: #c4c4c4;
  --hero-bg-gradient: rgba(47, 48, 58, 0.4);
  --prime-button-title: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-text-color: #ffffff;
  --footer-secondary-text-color: rgba(255, 255, 255, 0.6);
  --prime-border-color: #afb1b8;
  --prime-icon-bgc: #ffffff;
  --backdrop-icon-color: #000000;
  --secondary-icon-bgc: rgba(255, 255, 255, 0.1);
  --box-shadow-first: rgba(0, 0, 0, 0.12);
  --box-shadow-secondary: rgba(0, 0, 0, 0.14);
  --box-shadow-third: rgba(0, 0, 0, 0.2);
  --batton-shadow-first: rgba(0, 0, 0, 0.1);
  --batton-shadow-secondary: rgba(0, 0, 0, 0.08);
  --batton-shadow-third: rgba(0, 0, 0, 0.12);
  --batton-shadow-fourth: rgba(0, 0, 0, 0.06);
  --batton-shadow-fifth: rgba(0, 0, 0, 0.16);
  --border-item-gallery-work: #eeeeee;
  --icon-color: #afb1b8;
  --bg-gallary-work-t-c: rgba(33, 150, 243, 0.9);
  --border-contact-form-input: rgba(33, 33, 33, 0.2);
  --footer-contact-form-shadow:  rgba(0, 0, 0, 0.15);
  --tooter-contact-form-input-border: rgba(255, 255, 255, 0.3);
  --contact-form-textarea: color: rgba(117, 117, 117, 0.5);
}






















