/* Постоянные клиенты */
.clients-list {
  display: flex;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-width: 1px;
  border-style: solid;
  border-color: $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients a:hover,
.clients a:focus {
  border: 1px solid $secondary-link-color;
}

.clients a:hover svg,
.clients a:focus svg {
  fill: $secondary-link-color;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
